.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    padding: 20px 30px;
    width: 100%;
    background: linear-gradient(rgb(17, 17, 17), rgb(14, 14, 14));
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        text-align: center;
        gap: 15px;
        padding: 20px 0px;
    }
}

.container img {
    width: calc(600px / 2.5);
    /* height: calc(900px / 2.5); */
    border: 3px solid #ae00ff;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

.container div h1, h4  {
    margin: 10px 0px;
}

.container div a {
    font-size: 2em;
    text-decoration: none;
    transition: all 0.3s;
}

.container div a h1:hover {
    transition: all 0.3s;
    color: white;
}