#status {
    background-color: black;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

#status p {
    color: #ae00ff;
    font-size: 1.2rem;
    padding: 3px 10%;
    text-align: center;
}