.whiteBody {
    background-color: rgb(255, 193, 227);
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    border-top: 10px  solid rgb(250, 159, 209);
    border-bottom: 10px  solid rgb(250, 159, 209);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: none;
}

.cat {
    width: 90%;
    margin-top: 20px;
}

.pressCat {
    font-weight: bolder;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}

.buffer {
    height: 25px;
}

.centerHeart
{
   width: 10%;
   display: flex;
   justify-content: center;
}

.heart
{
   margin-top: 50px;
   margin-bottom: 100px;
   width: 10%;
   min-width: 150px;
   animation: Heartbeat 1s infinite;
   filter: grayscale(100%) brightness(1000);
}

@keyframes Heartbeat
{
   0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

.catImg {
    margin: 10px;
    max-width: 90%;
    box-shadow: 5px 5px 5px rgb(250, 159, 209);
}